# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

variables:
  SBT_THREAD_NUMBER: 4

jobs:
- job: Default
  timeoutInMinutes: 360
  pool:
    name: Hosted Ubuntu 1604

  steps:
  - script: |
      sbt -J-Xms5G -J-Xmx5G -J-XX:+UseConcMarkSweepGC -J-XX:+CMSClassUnloadingEnabled  dex-it/docker
      docker images
    displayName: 'Build docker and show'
    
  - task: Docker@2
    inputs:
      containerRegistry: 'turtlenetwork docker'
      repository: 'tn-dex'
      command: 'push'
      tags: 'latest'

  - script: 'sbt -J-Xms5G -J-Xmx5G -J-XX:+UseConcMarkSweepGC -J-XX:+CMSClassUnloadingEnabled  dex-it/test'
    displayName: 'Run docker tests '
      
  - task: PublishTestResults@2
    displayName: 'Publish Test Results target/test-reports/*.xml copy'
    inputs:
      testResultsFiles: 'target/test-reports/*.xml'
    condition: succeededOrFailed()

- job: quickCheck
  timeoutInMinutes: 360
  pool:
    name: Hosted Ubuntu 1604

  steps:
  - script: 'sbt -J-Xms5G -J-Xmx5G -J-XX:+UseConcMarkSweepGC -J-XX:+CMSClassUnloadingEnabled  quickCheck'
    displayName: 'Run quickCheck tests '

  - task: PublishTestResults@2
    displayName: 'Publish Test Results target/test-reports/*.xml copy'
    inputs:
      testResultsFiles: 'target/test-reports/*.xml'
    condition: succeededOrFailed()